prune examples
prune notebooks
prune suod/test
include README.rst
include requirements.txt
include suod/models
include suod/models/saved_models/summary_prediction.txt
include suod/models/saved_models/summary_prediction.xlsx
include suod/models/saved_models/summary_train.txt
include suod/models/saved_models/summary_train.xlsx